
@{
    ViewBag.Title = "Index";
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}




<div class="row">

    <div class="col-md-6">
        <div id="crdAvisosGerais" class="card">
            <div id="crdHdAvisosGerais" class="card-header bg-dark">
                <asp:label class="text-white">Objetivos da votação</></asp:label>
                <button id="btnEditarAvisos" class="btn btn-dark btn-sm pull-right" onclick=#>
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
            <div id="crdBdAvisosGerais" class="card-body">
                @if (ViewBag.Votacao != null)
                {
                     <p>@ViewBag.Votacao.descricao</p>
                     <p>A votação se encerra no dia @ViewBag.Votacao.data</p><br />
                }
            </div>
        </div>
        <br />
        <div class="col-lg-12 container align-right">
            <div id="crdProximasReunioes" class="card">
                <div id="crdHdProximasReunioes" class="card-header bg-dark">
                    <asp:Label class="text-white">Votação Abertas:</asp:Label>
                </div>
                <div id="crdBdProximasReunioes" class="card-body">
                        @foreach (var votacao in ViewBag.VotacoesCondominio)
                        {
                            if (ViewBag.Tipo != "ADM")
                            {
                                <a href="~/Votacao/Selecionar/@votacao.id">@votacao.titulo</a><br />
                            }
                            else
                            {
                                <a href="~/Votacao/Resultado/@votacao.id">@votacao.titulo</a><br />
                            }
                            @votacao.descricao 
                            <p>A votação se encerra no dia @votacao.data</p><br />
                        }
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="col-sm-6 container">

        <div id="crdProximasReunioes" class="card">
            <div id="crdHdProximasReunioes" class="card-header bg-dark">
                <asp:Label class="text-white">Votação</asp:Label>
            </div>
            <div id="crdBdProximasReunioes" class="card-body">

                <form action="@Url.Action("Votar","Votacao")">
                    @if (ViewBag.Votacao != null)
                    {
                        var i = 0;
                        foreach (var pergunta in ViewBag.Perguntas)
                        {
                            <div id="crdProximasReunioes" class="card">
                                <div id="crdHdProximasReunioes" class="card-header bg-dark">
                                    <asp:Label class="text-white">@pergunta.pergunta</asp:Label>
                                    <input type="text" value="@pergunta.id" name="votos[@i].id_pergunta" hidden/>
                                </div>
                                <div id="Perguntas0" class="card-body">
                                    @if (pergunta.tipo == "CheckBox")
                                    {
                                        foreach (var resposta in pergunta.resposta)
                                        {
                                            <input type="radio" name="votos[@i].resposta" value="@resposta">@resposta   
                                            if (ViewBag.Resultado != null)
                                            {
                                                foreach (var resultado in ViewBag.Resultado)
                                                {
                                                    if (resultado.resposta == resposta && resultado.id_pergunta == pergunta.id)
                                                    {
                                                        <span>  -  Votos: @resultado.votos</span>
                                                        break;
                                                    }
                                                }
                                            }
                                            <br/>
                                        }
                                    }
                                    else if (pergunta.tipo == "ComboBox")
                                    {
                                        if (ViewBag.Tipo != "ADM")
                                        {
                                             <select class="form-control-md input-md" name="votos[@i].resposta">
                                              @foreach (var resposta in pergunta.resposta)
                                              {
                                                <option value="@resposta" >@resposta</option>
                                              }
                                              </select>
                                        }
                                        else
                                        {
                                            <ul>
                                             @foreach (var resposta in pergunta.resposta)
                                             {
                                                <li>@resposta
                                                @if (ViewBag.Resultado != null)
                                                {
                                                    foreach (var resultado in ViewBag.Resultado)
                                                    {
                                                        if (resultado.resposta == resposta && resultado.id_pergunta == pergunta.id)
                                                        {
                                                            <span>  -  Votos: @resultado.votos</span>
                                                            break;
                                                        }
                                                    }
                                                }
                                                </li>
                                             }
                                             </ul>
                                        }

                                    }
                                    else if (pergunta.tipo == "TextArea")
                                    {
                                        if (ViewBag.Tipo != "ADM")
                                        {
                                            <textarea class="form-control" name="votos[@i].resposta"></textarea>
                                        }
                                        else
                                        {
                                            <ul>
                                                @if (ViewBag.Resultado != null)
                                                {
                                                    foreach (var resultado in ViewBag.Resultado)
                                                    {
                                                        if (resultado.id_pergunta == pergunta.id)
                                                        {
                                                            <li>@resultado.resposta</li>
                                                        }
                                                    }
                                                }
                                             </ul>
                                        }
                                    }
                                    else if (pergunta.tipo == "Data")
                                    {
                                        if (ViewBag.Tipo != "ADM")
                                        {
                                            <input type="date" class="form-control" name="votos[@i].resposta"/>
                                        }
                                        else
                                        {
                                            <ul>
                                                @if (ViewBag.Resultado != null)
                                                {
                                                    foreach (var resultado in ViewBag.Resultado)
                                                    {
                                                        if (resultado.id_pergunta == pergunta.id)
                                                        {
                                                            <li>@resultado.resposta  - Votos: @resultado.votos</li>
                                                        }
                                                    }
                                                }
                                             </ul>
                                        }
                                    }
                                    else if (pergunta.tipo == "Hora")
                                    {
                                        if (ViewBag.Tipo != "ADM")
                                        {
                                            <input type="time" class="form-control" name="votos[@i].resposta"/>
                                        }
                                        else
                                        {
                                            <ul>
                                                @if (ViewBag.Resultado != null)
                                                {
                                                    foreach (var resultado in ViewBag.Resultado)
                                                    {
                                                        if (resultado.id_pergunta == pergunta.id)
                                                        {
                                                            <li>@resultado.resposta  - Votos: @resultado.votos</li>
                                                        }
                                                    }
                                                }
                                             </ul>
                                        }
                                    }
                                </div>
                            </div>
                            i++;
                        }
                        if (ViewBag.Tipo != "ADM")
                        {
                            <input type="submit" value="Salvar"/>
                        }
                    }
                </form>
            </div>
        </div>
        <br />
    </div>
</div>