
@{
    ViewBag.Title = "Index";
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}




<div class="row">
    <div class="col-md-4">
        <div id="crdAvisosGerais" class="card">
            <div id="crdHdAvisosGerais" class="card-header bg-dark">
                <asp:label class="text-white">Atas</></asp:label>
                @if (ViewBag.Tipo == "ADM")
                {
                    <button id="btnEditarAvisos" class="btn btn-dark btn-sm pull-right" data-toggle="modal" data-target="#mdEditAvisos" >
                        <i class="fa fa-plus" data-toggle="tooltip" data-placement="right" title="EditarAvisos"></i>
                    </button>
                }
            </div>
            <div id="crdBdAvisosGerais" class="card-body">
                @foreach (var ata in ViewBag.Atas)
                {
                    <a href="~/Atas/Selecionar/@ata.id">@ata.titulo: </a><br />
                    <p>@ata.data </p> <br />
                }
            </div>
        </div>
    </div>


    <div class="col-sm container">

        <div id="crdProximasReunioes" class="card">
            <div id="crdHdProximasReunioes" class="card-header bg-dark">
                <asp:Label class="text-white">@ViewBag.Ata.titulo</asp:Label>
                @if (ViewBag.Tipo == "ADM" && ViewBag.Ata.texto != null)
                {
                    <button class="btn btn-dark btn-sm pull-right" data-toggle="modal" data-target="#EditarAtas">
                        <i class="fa fa-pencil" data-toggle="tooltip" data-placement="right" title="EditarAvisos"></i>
                    </button>
                }
            </div>
            <div id="crdBdProximasReunioes" class="card-body">

                <p>
                    @if (ViewBag.Ata.texto != null)
                    {
                        @ViewBag.Ata.texto
                    }
                </p>

            </div>
        </div>
        <br />
    </div>
</div>

@if (ViewBag.Tipo == "ADM")
{
    <!-- Modal adicionar atas -->
    <div class="modal fade" id="mdEditAvisos" tabindex="-1" role="dialog" aria-labelledby="Editar Aviso" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atas</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action=@Url.Action("AdicionarAta", "Atas")>
                    <div class="modal-body">
                        Titulo:<br />
                        <input type="text" id="titulo" name="titulo" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal editar atas -->
    <div class="modal fade" id="EditarAtas" tabindex="-1" role="dialog" aria-labelledby="Editar Aviso" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atas</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action=@Url.Action("EditarAta", "Atas")>
                    <div class="modal-body">
                        Titulo:<br />
                        <input hidden name="ata.id" id="id" value="@ViewBag.Ata.id" />
                        <input type="text" id="titulo" name="ata.titulo" class="form-control" value="@ViewBag.Ata.titulo" />
                        Texto:
                        <textarea type="text" id="texto" name="ata.texto" class="form-control">
                             @if (ViewBag.Ata.texto != null)
                             {
                                    @ViewBag.Ata.texto
                             }
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a class="btn btn-secondary" type="button" id="ApagarMural" name="id" href=@Url.Action("Apagar", "Atas", new { ViewBag.Ata.id })>Apagar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}