
@{
    ViewBag.Title = "Index";
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}
<script type="text/javascript">
     function FG_FormatarTelfone(strValor, id) {
        if (id == "pessoa.telefone") {
            dig = 7;
        } else {
            dig = 8;
        }
        strValor = RemoveMask(strValor);
        
        if (strValor.length > 11) {
            strValor = '(' + strValor.substr(0, 3) + ') ' + strValor.substr(3, dig - 3) + '-' + strValor.substr(dig, 4);
        }
        else if (strValor.length > dig) {
            strValor = '(' + strValor.substr(0, 3) + ') ' + strValor.substr(3, dig - 3) + '-' + strValor.substr(dig, 4);
        }
        else if (strValor.length > 3) {
            strValor = '(' + strValor.substr(0, 3) + ') ' + strValor.substr(3, dig - 3);
        } else if (strValor.length > 0) {
            strValor = '(' + strValor;
        }

        document.getElementById(id).value = strValor;
    }
    function TestaSenha() {
        bool = true;
        if (document.getElementById("newPass").value != document.getElementById("confirmPass").value) {
            $('span[data-valmsg-for="confirmacaoSenha"]')[0].hidden = false;
            bool = false;
        }
        if (document.getElementById("newPass").value.length < 8) {
            $('span[data-valmsg-for="pessoa.senha"]')[0].hidden = false;
            bool = false;
        }

        return bool;
    }
    function RemoveMask(strValue) {
        strValue = strValue.replace(/\./g, "");
        strValue = strValue.replace(/-/g, "");
        strValue = strValue.replace(/\(/g, "");
        strValue = strValue.replace(/\)/g, "");
        strValue = strValue.replace(/ /g, "");

        return strValue
    }
</script>
<center><h2>Informações Gerais</h2></center><br />


<div class="col-sm-12 offset-2">
    <form action=@Url.Action("Alterar","Configuracoes") onsubmit="return TestaSenha()";>
        <div class="form-group row">
            <label for="inputNome" class="col-sm-2 col-form-label">Nome Completo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNome" name="pessoa.nome" placeholder="Nome Completo" value="@ViewBag.pessoa.nome">
            </div>
        </div>

        <div class="form-group row">
            <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="pessoa.telefone" placeholder="Telefone" name="pessoa.telefone" value="@ViewBag.pessoa.telefone"  onkeydown="FG_FormatarTelfone(this.value, this.id)" pattern="\([0-9]{3}\) [0-9]{4}-[0-9]{4}">
            </div>
        </div>

        <div class="form-group row">
            <label for="celular" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="celular" placeholder="Celular" name="pessoa.celular" value="@ViewBag.pessoa.celular"  onkeydown="FG_FormatarTelfone(this.value, this.id)" pattern="\([0-9]{3}\) [0-9]{5}-[0-9]{4}">
            </div>
        </div>

        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Email" placeholder="Email" name="pessoa.email" value="@ViewBag.pessoa.email">
            </div>
        </div>

        <div class="form-group row">
            <label for="apto" class="col-sm-2 col-form-label">Apartamento</label>
            <div class="col-sm-4">
                <input type="text" class="col-sm-2 col-form-label" id="apto" value="@ViewBag.pessoa.apto" name="pessoa.apto" placeholder="APTO" readonly>
            </div>
        </div>


        <div class="form-group row">
            <label for="oldPass" class="col-sm-2 col-form-label">Senha Antiga</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="oldPass" placeholder="Senha antiga" name="senha">
            </div>
        </div>


        <div class="form-group row">
            <label for="newPass" class="col-sm-2 col-form-label">Nova senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPass" placeholder="Nova senha" name="pessoa.senha">
                <span class="field-validation-valid text-danger" data-valmsg-for="pessoa.senha" data-valmsg-replace="false" hidden>Senha muito curta!</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="confirmPass" class="col-sm-2 col-form-label">Corfirmar a senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="confirmPass" placeholder="Confirmar senha">
                <span class="field-validation-valid text-danger" data-valmsg-for="confirmacaoSenha" data-valmsg-replace="false" hidden>Senha não confere!</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="CPF" class="col-sm-2 col-form-label">CPF</label>
            <div class="col-sm-6">
                <input type="text" class="col-sm-4 col-form-label" id="cpf" value="@ViewBag.pessoa.cpf_cnpj" name="pessoa.cpf_cnpj" placeholder="CPF" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary" >Salvar</button>
            </div>


            <div class="form-group row">
                <div class="col-sm-1">
                    <a type="button" class="btn btn-outline-danger" href="~/Configuracoes/Excluir/@ViewBag.pessoa.id">Apagar</a>
                </div>
            </div>
        </div>
    </form>
</div>