@{
    ViewBag.Title = "Index";
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}

<div class="row">
    <div class="col-md-7 col-sm-7 col-xl-7 col-12">
        <div id="crdAvisosGerais" class="card">
            <div id="crdHdAvisosGerais" class="card-header bg-dark">
                <asp:label class="text-white">Moradores</asp:label>
            </div>
            <div id="Moradores" class="card-body">
                <form action=@Url.Action("Pesquisa","Moradores", new { i = 0 }) method="post">
                    <label class="text">Pesquisar:</label><br />
                    <input type="text" name="nome" value="@ViewBag.pesquisa" placeholder="Search..">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                @foreach (var pessoas in ViewBag.Pessoas)
                {
                    <dl>
                        <dt>
                            @if (pessoas.status == 2)
                            {
                                <a style='color:red' href=@Url.Action("MostraPessoa", "Moradores", new { id = pessoas.id })>@pessoas.nome</a>
                            }
                            else
                            {
                                <a href=@Url.Action("MostraPessoa", "Moradores", new { id = pessoas.id })>@pessoas.nome</a>
                            }
                        </dt>
                        <dd>Apartamento: @pessoas.apto</dd>
                        <dd>Telefone: @pessoas.telefone</dd>
                        <dd>Celular:  @pessoas.celular</dd>
                    </dl>
                }
                <nav aria-label="PageNnavigation">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="@Url.Action(ViewBag.Action,"Moradores", new { i = (ViewBag.PagAtual - 5) , nome = @ViewBag.pesquisa})">Previous</a></li>
                        @for (int i = 0; i < ViewBag.QtdPessoa; i += 5)
                        {
                            <li class="page-item"><a class="page-link" href=@Url.Action(ViewBag.Action,"Moradores", new { i = @i , nome = @ViewBag.pesquisa})>@(i / 5)</a></li>
                        }
                        <li class="page-item"><a class="page-link" onclick="if(@ViewBag.QtdPessoa < @ViewBag.PagAtual + 5){return false;}" href=@Url.Action(ViewBag.Action,"Moradores", new { i = (ViewBag.PagAtual + 5) < ViewBag.QtdPessoa ? (ViewBag.PagAtual + 5) : (ViewBag.QtdPessoa - ViewBag.PagAtual*5)%5 , nome = @ViewBag.pesquisa})>Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xl-5 col-12">
        <div id="crdProximasReunioes" class="card">
            <div id="crdHdProximasReunioes" class="card-header bg-dark">
                <asp:Label class="text-white">Informação do Morador</asp:Label>
            </div>
            <div id="crdBdProximasReunioes" class="card-body">
                <p>
                    @if (ViewBag.pessoaSelecionada != null)
                    {
                        <dl>
                            <dt>
                                @ViewBag.pessoaSelecionada.nome
                                <button id="btnEditarAvisos" class="btn btn-sm pull-right" data-target="#mdEditPessoa" data-toggle="modal">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </dt>
                            <dd>Apartamento: @ViewBag.pessoaSelecionada.apto</dd>
                            <dd>Telefone:  @ViewBag.pessoaSelecionada.telefone</dd>
                            <dd>Celular:   @ViewBag.pessoaSelecionada.celular</dd>
                            <dd>Email:  @ViewBag.pessoaSelecionada.email</dd>
                            <dd>
                                <a type="button" id="btnEditarAvisos" class="btn btn-dark" href="~/Moradores/Excluir/@ViewBag.pessoaSelecionada.id">Excluir</a>
                                @if (ViewBag.pessoaSelecionada.status == 2)
                                {
                                    <a type="button" id="btnEditarAvisos" class="btn btn-dark" href="~/Moradores/Desbloquear/@ViewBag.pessoaSelecionada.id">Desbloquear</a>
                                }
                                else
                                {
                                    <a type="button" id="btnEditarAvisos" class="btn btn-dark" href="~/Moradores/Bloquear/@ViewBag.pessoaSelecionada.id">Bloquear</a>
                                }

                            </dd>
                        </dl>
                    }
                </p>
            </div>
        </div>
        <div id="crdResultadoDeVotacoes" class="card">
            <div id="crdHdResultadoDeVotacoes" class="card-header bg-dark">
                <asp:Label class="text-white">Novos moradores:</asp:Label>
            </div>
            <div id="crdBdResultadoDeVotacoes" class="card-body">
                <p>
                    @foreach (var pessoa in ViewBag.pessoasNAprovadas)
                    {
                        <dl>
                            <dt>
                                <a href=@Url.Action("MostraPessoa", "Moradores", new { id = pessoa.id })>@pessoa.nome</a>
                            </dt>
                            <dd>Apartamento: @pessoa.apto</dd>
                            <dd>Telefone: @pessoa.telefone</dd>
                            <dd>Celular:  @pessoa.celular</dd>
                            <dd>
                                <a type="button" id="btnEditarAvisos" class="btn btn-dark" href="~/Moradores/Desbloquear/@pessoa.id">Aceitar</a>
                                <a type="button" id="btnEditarAvisos" class="btn btn-dark" href="~/Moradores/Excluir/@pessoa.id">Negar</a>
                            </dd>
                        </dl>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.pessoaSelecionada != null)
{
    <!-- Modal editar pessoas -->
    <div class="modal fade" id="mdEditPessoa" tabindex="-1" role="dialog" aria-labelledby="Editar Apartamento" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reuniões</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action=@Url.Action("EditarApto", "Moradores")>
                    <div class="modal-body">
                        Apartamento:<br />
                        <input hidden name="id" value="@ViewBag.pessoaSelecionada.id" />
                        <input type="text" name="apto" class="form-control" value="@ViewBag.pessoaSelecionada.apto" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}