
@{
    ViewBag.Title = recursos.Mural;
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}

<div class="row">
    <div class="col-md-7 col-sm-7 col-xl-7 col-12">
        <div id="crdAvisosGerais" class="card">
            <div id="crdHdAvisosGerais" class="card-header bg-dark">
                <asp:label class="text-white">@recursos.AvisosGerais:</asp:label>
                <button id="btnEditarAvisos" class="btn btn-dark btn-sm pull-right" data-toggle="modal" data-target="#mdEditAvisos" onclick="CarregaTextoModal()">
                    <i class="fa fa-pencil" data-toggle="tooltip" data-placement="right" title="EditarAvisos"></i>
                </button>
            </div>
            <div id="crdBdAvisosGerais" class="card-body">
                @foreach (var mural in ViewBag.Mural)
                {
                    <h5>@mural.titulo</h5>
                    <p>@mural.texto</p>
                    <h9>@mural.data</h9>
                }
                </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xl-5 col-12">
        <div id="crdProximasReunioes" class="card">
            <div id="crdHdProximasReunioes" class="card-header bg-dark">
                <asp:Label class="text-white">@recursos.ProximasReunioes:</asp:Label>
            </div>
            <div id="crdBdProximasReunioes" class="card-body">
                    @foreach (var reuniao in ViewBag.Reunioes)
                    {
                        <dl>
                            <dt>@reuniao.titulo</dt>
                            <dd>@reuniao.data</dd>
                        </dl>
                    }
            </div>
        </div>
        <div id="crdResultadoDeVotacoes" class="card">
            <div id="crdHdResultadoDeVotacoes" class="card-header bg-dark">
                <asp:Label class="text-white">@recursos.ResultadoDeVotacoes:</asp:Label>
            </div>
            <div id="crdBdResultadoDeVotacoes" class="card-body">
                <p>
                    Eu vulputate voluptaria nec, at mea mutat choro putent, ius splendide gloriatur sententiae no.
                    Noster repudiandae deterruisset an sit, mel in altera aliquip partiendo. Duo an laoreet percipit mnesarchum,
                    congue posidonium mel ad. Vix dolor deseruisse comprehensam ad, ei ius debitis convenire. An natum postea per,
                    an his lorem aperiam, qui ea zril detracto rationibus.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal editar avisos -->
<div class="modal fade" id="mdEditAvisos" tabindex="-1" role="dialog" aria-labelledby="Editar Aviso" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@recursos.AvisosGerais</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action=@Url.Action("EditarAvisos", "mural")>
                <div class="modal-body">
                    <input hidden name="id" value="id" />
                    <textarea id="mdTxtEditarAvisos" name="Texto" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CarregaTextoModal() {
        $("#mdTxtEditarAvisos").html($("#txtAvisosGerais").text());
    }
</script>